.Card {
    background-color: #f1f2f3;
    color: #212223;
    width: 20vh;
    height: 25vh;
    border-radius: 3vh;
    text-align: center;
    font-size: 1.3vh;
}

.Green {
    background-color: rgba(39, 225, 122, 1);
    width: 100%;
    height: 4vh;
    border-radius: 15vh;
}

.Title {
    color: #f1f2f3;
}